*

{
  font-family: cursive ;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
   
}

body{
    height: 100vh;
    background-image: url('age.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box
{
  
  width: fit-content;
  padding: 50px;
  box-shadow: 5px  5px 10px;
   background-color: transparent;
}
input
{
  padding:10px;
  border-radius: 5px;
}
h1
{
  color: rgb(18, 7, 7);

}

input[type="button"]
{
  background-color: aquamarine;

}
label
{
  background-color: rgb(114, 114, 234);
}

